<div class="product-detail-page">
    <%= render 'layouts/navbar' %>

    <div class="product">
        <h2><%= @product.name %></h2>
        <%= link_to 'Edit', edit_product_path(@product) %>
        <hr/>
        
        <div class="product-info">
            <div class="product-image col-sm-3">
                <img src="../images/<%= @product.image %>"/>
            </div>
            
            <div class="product-description col-sm-6">
                <h4>Product Info</h4>
                <%= @product.description %>
            </div>
            
            <div class="product-pricing col-sm-3">
                <a class="btn btn-primary">
                    <%= '$' + @product.price.to_s + ' - ' %>
                    Add to Cart
                </a>
            </div>
            
            <div class="separator"/>
        </div>
        

        <div class="product-reviews">
            <h2>Reviews</h2>
            <%= render @product.reviews %>
        </div>

        <div class="product-add-review">
            <h2>Add a review</h2>
            <%= render 'reviews/form' %>
        </div>
    </div>
</div>