<div class="product-detail-page">
    <%= render 'layouts/navbar' %>

    <div class="product">
        <h2><%= @product.name %></h2>
        <%= link_to 'Edit', edit_product_path(@product) %>
        <hr/>
        
        <div class="product-info">
            <div class="product-image col-sm-3">
                <img src="../images/products/<%= @product.image %>"/>
            </div>
            
            <div class="product-description col-sm-6">
                <h4>Product Info</h4>
                <%= @product.description %>
            </div>
            
            <div class="product-pricing col-sm-3">
                <h3><%= '$' + @product.price.to_s %></h3>
                
                <!-- Add to Cart button -->
                <% if !current_user.has_item_in_cart(@product.id) %>
                    <%= link_to raw(
                                    '<span class="fa fa-shopping-cart fa-lg"></span>
                                    <span>Add to Cart</span>'
                                ),
                                {:controller => "shopping_cart_items",
                                :action => "create",
                                :user_id => current_user.id,
                                :product_id => @product.id,
                                :quantity => 1},
                                :method => 'post',
                                :class => 'btn btn-primary btn-add-to-cart' %>
                <% else %>
                    <a class="btn btn-primary btn-add-to-cart disabled">
                        <span class="fa fa-shopping-cart fa-lg"></span>
                        <span>Item in Cart</span>
                    </a>
                <% end %>
                            
                <!-- Add to Favorites button -->
                <a class="btn btn-info btn-favorite">
                    <span class="fa fa-heart fa-lg"></span>
                    <span>Add to Favorites</span>
                </a>
            </div>
            
            <div class="separator"/>
        </div>
        

        <div class="product-reviews">
            <h2>Reviews</h2>
            <%= render @product.reviews %>
        </div>

        <div class="product-add-review">
            <h2>Add a review</h2>
            
            <% if logged_in? %>
                <%= render 'reviews/form' %>
            <% else %>
                <p>Please <%= link_to 'log in', login_path %> or <%= link_to 'sign up', signup_path %> to post a review of a product.</p>
            <% end %>
        </div>
    </div>
</div>